//Import Bootstrap
@import "bootstrap-sass/bootstrap";
//Fonts 
    /* Fonts */
    @font-face {
        font-family: 'proxima_nova';
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Reg-webfont.eot);
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Reg-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Reg-webfont.woff) format("woff"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Reg-webfont.ttf) format("truetype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular) format("svg");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'proxima_nova';
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-RegIt-webfont.eot);
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-RegIt-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-RegIt-webfont.woff) format("woff"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-RegIt-webfont.ttf) format("truetype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic) format("svg");
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'proxima_nova';
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-SboldIt-webfont.eot);
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-SboldIt-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-SboldIt-webfont.woff) format("woff"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-SboldIt-webfont.ttf) format("truetype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-SboldIt-webfont.svg#proxima_novasemibold_italic) format("svg");
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'proxima_nova';
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Sbold-webfont.eot);
        src: url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Sbold-webfont.eot?#iefix) format("embedded-opentype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Sbold-webfont.woff) format("woff"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Sbold-webfont.ttf) format("truetype"), url(https://www.thesca.org/sites/all/themes/sca/fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold) format("svg");
        font-weight: 600;
        font-style: normal;
    }
     
    .rkd-overlay-full {
        position:relative;
        top: 0;
        left: 0;
        z-index: 10100;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    
    .rkd-overlay-full *{
        box-sizing: border-box;
        font-family: "proxima_nova",Tahoma,sans-serif;
    }
    
    .thankYou .tips h2{
        font-size: 22px;
    }
    
    .color-mix{
        background: -webkit-linear-gradient(-90deg, #7cc349 0%, #439ecb 100%);
        background: -moz-linear-gradient(-90deg, #7cc349 0%, #439ecb 100%);
        background: -o-linear-gradient(-90deg, #7cc349 0%, #439ecb 100%);
        background: -ms-linear-gradient(-90deg, #7cc349 0%, #439ecb 100%);
        background: linear-gradient(180deg, #7cc349 0%, #439ecb 100%);
    }
    
    .clearAll{
        clear: both;
    }
    
    .color-mix-horizontal{
        background: -webkit-linear-gradient(0deg, #7cc349 0%, #439ecc 100%);
        background: -moz-linear-gradient(0deg, #7cc349 0%, #439ecc 100%);
        background: -o-linear-gradient(0deg, #7cc349 0%, #439ecc 100%);
        background: -ms-linear-gradient(0deg, #7cc349 0%, #439ecc 100%);
        background: linear-gradient(90deg, #7cc349 0%, #439ecc 100%);
    }
    
    .no-pad{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .no-margin{
        margin-left: 0px !important;
        margin-right: 0px !important; 
    }
    
    /* Landing Page Styles */
    
    .landingPage{
        background-image: url(https://secure2.convio.net/scai/images/content/pagebuilder/LP-BG-Quiz.jpg);
        background-size: cover;
        min-height: 720px;
    }
    
    .landingPage .centered img{
        margin: 0 auto;
    }
    
    .landingPage .lp-logo{
        margin: 30px 0;
    }
    
    .landingPage .lp-headline{
        margin: 0px 0 60px;
    }
    
    .landingPage .lp-callout{
        margin: 0px 0 160px;
    }
    
    
    .landingPage .callOut{
        border-radius: 20px;
        opacity: 0.89;
        padding: 15px 15px 35px 15px;
        font-family: "proxima_nova","Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
        color:  #ffffff !important;
        font-size: 26px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
    }
    
    .landingPage .callOut button{
        border-radius: 8px !important;
        border-style: solid !important;
        border-width: 2px !important;
        border-color:  #ffffff !important;
        box-sizing: border-box !important;
        background-color:  rgba(0, 0, 0, 0) !important;
        width: 80% !important;
        color: #fff !important;
        font-weight: 600;
    }
    
    .landingPage .callOut button:hover{
        background-color: #7bc05c;
        color: #fff !important; 
    }
    
    /* Quiz Styles */
    
    .quizHeader{
        background-image: url(https://secure2.convio.net/scai/images/content/pagebuilder/LP-BG-QuizQuestions.jpg);
        background-size: cover;
        height: 270px;
        color:  #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        padding-top: 22px;
    }
    
    .quizHeader img{
        width: 60px;
        height: auto;
        float: left;
    }
    
    .quizHeader span{
        padding-top: 69px;
        display: inline-block;
        float: left;
        padding-left: 10px;
    }
    
    .quiz-headline{
        color:#fff;
        border-radius: 7px;
        box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.27);
        text-align: center;
        line-height: 18px;
        margin-top: -50px;
        padding: 0px 0 14px;
    }
    
    .quiz-headline h1{
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin: 10px 0 0;
        color: #fff !important;
    }
    
    .quiz-headline p{
        font-size: 26px;
        font-weight: 200;
        margin: 6px 0 20px;
        line-height: 30px;
    }
    
    .quiz-intro{
        color:  #343434;
        font-size: 23px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        margin: 30px 0px;
    }
    
    .quizBody{
        border-radius: 10px;
        background-color:  #f6f6f6;
        width: 100%;
        padding-top: 40px;
        text-align: center;
        color: #fff;
        margin-bottom: 60px;
        position: relative;
        box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.27);
    }
    
    .quizBody .btn{
        width: 140px;
        height: 60px;
        font-weight: 600;
        font-size: 30px;
        line-height: 18px;
        margin: 10px;
    }
    
    .quizBody .btn:hover, .quizBody .btn:active{
        color: #449eca;
    }
    
    .quizBody .next{
        background-color: #7cc349;
    }
    
    .quizBody .prev{
        background-color: #393d40;
    }
    
    .questionSingle{
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .questionSingle h3{
        color:  #449eca;
        font-size: 48px;
        line-height: 50px;
        margin: 0;
        font-weight: 600;
        padding: 0 20px;
        text-transform: none;
        margin: 40px 0 0;
    }
    
    .questionSingle h4{
        color:  #449eca;
        font-size: 27px;
        line-height: 35px;
        font-weight: 200;
        margin: 10px 0 0;
    }
    
    .questionSingle input{
        display: none;
    }
    
    .questionSingle label{
        display: block;
        width: 100%;
        min-height: 50px;
        border-radius: 10px;
        padding:12px 10px;
        text-align: center;
        border: 1px solid #343434;
        background-color: transparent;
        line-height: 22px;
        color: #343434;
        margin: 16px 0;
    }
    
    .questionSingle .value{
        font-size: 30px;
        line-height: 18px;
        font-weight: bold;
        color: #b7b7b7;
        padding-top: 3px;
        display: inline-block;
    }
    
    .questionSingle .active{
        border: none !important;
        background: -webkit-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background: -moz-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background: -o-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background: -ms-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background: linear-gradient(90deg, #7cc349 0%, #439ecc 100%) !important;
        font-weight: bold !important;
        color: #fff !important;
    }
    
    .questionSingle .active .value{
        color: #fff;
    }
    
    .questionSingle .inactive{
        border: 1px solid #343434;
    }
    
    
    /* Footer Styles */
    .main-footer{
        height: 345px;
        min-height: 345px;
        background-color: #393c40;
    }
    
    .ribbon {
        width: 60px;
        padding: 10px 0;
        position: absolute;
        top: -6px;
        right: 25px;
        text-align: center;
        border-top-left-radius: 3px;
        background: #7cc24b;
        font-weight: 600;
    }

    .ribbon:before {
        height: 0;
        width: 0;
        left: -5px;
        top: 0.1px;
        border-bottom: 6px solid #4e7e2b;
        border-left: 6px solid transparent;
    }

    .ribbon:before,
    .ribbon:after {
        content: "";
        position: absolute;
    }

    .ribbon:after {
        height: 0;
        width: 0;
        bottom: -29.5px;
        left: 0;
        border-left: 30px solid #7cc24b;
        border-right: 30px solid #7cc24b;
        border-bottom: 30px solid transparent;
    }
    
    /*Thank You Page */
    .thankYou{}
    
    .thankYou .quiz-headline{
        padding: 15px;
    }
    
    .thankYou .quiz-headline h1{
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin: 2px 0 2px;
        color: #fff;
    }
    
    .quiz-headline p{
        font-size: 28px;
        margin: 0px;
    }
    
    .thankYou .quizBody{
        padding-top: 12px !important;
        padding-bottom: 50px !important;
    }
    
    .quizBody .result-headline{
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 10px;
        margin: 20px auto;
        box-shadow: 0px 0px 8px 0px rgba(1, 1, 1, 0.27);
    }
    
    .quizBody .result-headline p{
        margin: 0;
    }
    
    .quizBody .result-body p, .quizBody .result-message p{
        margin: 0;
    }
    
    .quizBody .result-message p{
        font-weight: 600;
    }
    
    .quizBody .result-message{
        font-size: 30px;
        color: #439ecc;
        margin: 30px auto;
        padding: 0px 180px;
    }
    
    .quizBody .result-body{
        margin: 30px auto 20px;
        color: #343434;
        font-size: 20px;
        padding: 0px 110px;
    }
    
    .quizBody .share h2{
        font-size: 30px;
        color: #9dd078;
        font-weight:600;
    }
    
    .thankYou .donate{
        background-color: #7cc349;
        border-radius: 10px;
        padding: 30px 40px 30px 30px;
        color: #fff;
        text-align: left;
        background-image: url(https://secure2.convio.net/scai/images/content/pagebuilder/LP-TY-BG.png);
        background-size: cover;
        background-position: center center;
        min-height: 1000px;
        margin-bottom: 30px;
    }
    
    .thankYou .donate img{
        margin: 0px 0 20px;
    }
    
    .thankYou .donate ul{
       padding-left: 20px;
    }
    
    .thankYou .donate li{
       line-height: 26px;
    }
    
    .thankYou .donate p{
        font-size: 15px;
        margin: 10px 0;
        font-weight: 200;
    }
    
    .thankYou .donate .button{
        margin: 30px auto;
        display: block;
        background-color: #fff;
        width: 80%;
        color:#449ecb;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
    }
    
    .thankYou .donate .button:hover, .thankYou .donate .button:active{
        color:#7cc349;
    }
    
    .thankYou .tips{
        border-radius: 10px;
        padding: 30px 30px 30px 30px;
        background-color: #f6f6f6;
        margin-bottom: 60px;
    }
    
    .thankYou .tips ul{
        padding-left: 12px;
    }
    
    .thankYou .tips li{
        margin: 10px 0;
        color: #7cc349;
        line-height: 28px;
    }
    
    .thankYou .tips hr{
        border: 0; 
        height: 6px; 
        background-image: -webkit-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background-image: -moz-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background-image: -o-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background-image: -ms-linear-gradient(0deg, #7cc349 0%, #439ecc 100%) !important;
        background-image: linear-gradient(90deg, #7cc349 0%, #439ecc 100%) !important;
        width: 56%;
        float: left;
        margin: 0px 0px 12px;
        position: inherit;
    }
    
    .thankYou .tips h2{
        margin: 40px 0 10px;
        letter-spacing: 2px;
        color:#343434;
    }
    
    
    .thankYou .tips li span{
        color:#343434;
    }
    .quizBody .facebook, .quizBody .twitter{
        margin: 20px 10px;
    }
    
    .thankYou .quizBody:before {
        content: ' ';
        position: absolute;
        width: 30px;
        height: 0;
        left: -120px;
        top: 52px;
        border-width: 40px 60px;
        border-style: solid;
        border-color: #7cc24a #7cc24a #7cc24a transparent;
    }
    
    .thankYou .quizBody:after {
        content: ' ';
        position: absolute;
        width: 30px;
        height: 0;
        right: -120px;
        top: 52px;
        border-width: 40px 60px;
        border-style: solid;
        border-color:  #439ecc transparent #439ecc  #439ecc;
    }
    
    /* Email Form */
    
    .emailForm{
        border-radius: 10px;
        background-color:  #439ecb;
        width: 100%;
        padding: 20px 100px;
        text-align: center;
        color: #fff;
        position: relative; 
        margin-top: 40px;
        font-size: 23px;
    }
    
    .emailForm h2{
        font-size: 43px;
        line-height: 43px;
        color: #fff;
        font-weight: 800;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .emailForm p{
        margin: 6px;
    }
    
    .emailForm form{
        margin: 20px auto;
    }
    
    .emailForm input[type="email"]{
        width: 60%;
        margin: 0px 10px;
        height: 60px;
        border-radius: 10px;
        padding-left: 20px;
    }
    
    .emailForm input[type="submit"]{
        width: 30%;
        margin: 0px 10px;
        font-size: 23px;
        font-weight: 600;
        background-color: #7cc349;
        height: 60px;
        text-transform: none;
        border-radius: 10px;
    }
    
    .emailForm input[type="submit"]:hover, .emailForm input[type="submit"]:active{
        color:#439ecb;
    }
    
    
  
    .frameLoader{
        display: none;
    }
  
    

    /* Footer Styles */
    
    .footer{
        margin-top: 0px !important;
    }
    
    .GuideStar {width: 80px; height: 59px; margin-right: 10px; vertical-align: top;}
    .Seal {width: 41px; height: 71px; margin-right: 10px;vertical-align:-6px;}
    .TopRated {width: 86px; height: 67px; vertical-align: -3px;}
    
    /* Mobile Styles */
     @media (max-width: 960px){
        .thankYou .donate .button{
            font-size: 22px;
        }
         .questionSingle h3{
            font-size: 22px;
            line-height: 26px;
            padding: 0px;
            margin: 0;
        }
    }
    

    @media (max-width: 900px){
        .emailForm{
            padding: 20px 20px;
        }     
        .emailForm input[type="email"]{
            width: 90%;
            margin: 10px;
        }
        .emailForm input[type="submit"]{
           width: 70%;
           margin: 10px;    
        }
    }
    
    @media (max-width: 640px){
        footer nav {
            display: none;
        }
        .l-region--footer .has-logo{
            margin-left: 0px;
            margin-right: 0px;
            background: none;
            text-align: center;
        }
        .block__content, .social-links-flat{
            text-align: center;
        }
        .no-pad{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    
    @media(max-width:600px){
        .landingPage .callOut{
            font-size: 22px;
            padding: 20px;
        }
        .quizHeader{
            height: 240px;
            padding-top: 16px;
        }
        .quizHeader img{
            margin: 0 auto;
            float: none;
        }
        .quizHeader span{
            padding-top: 12px;
            float:none;
        }
        .quizBody{
            padding: 70px 20px 20px;
        }
        
        .quizBody .share h2{
            font-size: 22px;
        }
        .questionSingle h3{
            font-size: 22px;
            line-height: 26px;
            padding: 0px;
            margin: 0;
        }

        .questionSingle h4{
            line-height: 26px;
            font-size: 18px;
        }
        .quiz-headline h1, .thankYou .quiz-headline h1, .quizBody .result-headline p {
            font-size: 30px;
        }
        .quiz-headline p{
            font-size: 20px;
        }
        .quiz-intro{
            font-size: 16px;
        }
        .thankYou .tips hr, .thankYou .donate .button{
            width: 100%;
        }
        
        .quizBody .result-message{
            padding: 10px;
            font-size: 22px;
        }
        
        .quizBody .result-body{
            padding: 10px;
        }
        
        .footer {
            background-position: center -35px;
            border: none;
            height: auto;
            min-height: 0;
            text-align: center;
            padding: 20px;
            margin-top: 0px !important;
        }
        
            .spr-sprite,
            .spr-email,
            .spr-facebook,
            .spr-flickr,
            .spr-foursquare,
            .spr-google-plus,
            .spr-instagram,
            .spr-menu-active,
            .front .menu-main a:after,
            .not-front .l-region--navigation .menu-main a.active-trail:after,
            .spr-pinterest,
            .spr-podcast,
            .spr-red-arrow,
            .spr-rss,
            .spr-rule-222-shaded,
            .rail-second .block:after,
            .spr-rule-260-shaded,
            .panel-2col-biased .panel-col-last .panel-pane:after,
            .spr-rule-450-shaded,
            .rule-after-450:after,
            .rule-after-450-nopad:after,
            .spr-rule-full-arrow,
            .pane-corporate-partners-panel-pane-1:after,
            .pane-corporate-partners-panel-pane-2:after,
            .tiles:after,
            .spr-rule-full-shaded,
            .not-front .content:after,
            .breadcrumb:before,
            .front .panel-2col-biased .center-wrapper:after,
            .discover-form .pane-content:after,
            #discover-form .pane-content:after,
            .panel-home .white-1:before,
            .panel-home .panel-row-landscape:before,
            .panel-home .white-2 .panel-pane:first-child:after,
            .spr-sca-logo-reversed,
            .l-region--footer .has-logo:after,
            .spr-tile_bg,
            .tiles li,
            .spr-tumblr,
            .spr-twitter,
            .spr-yes,
            .panel-home .panel-row-bottom .pane-title,
            .spr-youtube {background:none!important;}
    }